body{
    background-color: antiquewhite;
}

.navegacion{
    width: 1000px;
    margin: 30px auto;
    background-color: darkslategrey;
}

.navegacion ul{
    list-style: none;
}

.navegacion .menu li{
    position: relative;
    display: inline-block
}

.navegacion .menu li a{
    display: block;
    padding: 15px 20px;
    color: #ffffff;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navegacion .menu li a:hover{
    color:lightblue;
    transition: all .3s;
}

.contenido{
    width: 1000px;
    margin:auto;
}

.contenido h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenido p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}